* {
    font-family: 'Libre Franklin', sans-serif;
    /* box-sizing: border-box; */
}

/* Whole page controls */
.grid-container {
    display: grid;
    grid-template-columns: auto 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "navigation"
        "main";
}

h3 {
    text-transform: uppercase;
    text-align: center;
}

img {
    max-width: 80%;
    padding: 1em;
}

hr {
    margin: 0;
}

/* Header and navigation */
header {
    background: #a1a09d;
    color: white;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

header h4 {
    display: none;
}

.small {
    border-radius: 50%;
    max-width: 50px;
}

.navigation {
    grid-area: navigation;
    background: #403f3e;
    color: white;
}

/* main header area and search*/
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header div {
    width: 50%;
    border-bottom: 2px solid black;
}

/* Main area with graphs */

main {
    grid-area: main;
}

/* Traffic graph */ 
ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

li {
    display: inline-block;
    padding: 0 1em;
}

/* Social stats section */

.social-container {
    border: 2px solid #403f3e;
    max-width: 60%;
    margin: 1em auto;
    display: flex;
    align-items: center;
    background: #f2f2f2 ;
    border-radius: 8px;
}

.social-container img {
    margin: 1em;
}

.social-name {
    color: purple;
    font-weight: 1000;
    margin: .2em;
}

.social-number {
    font-size: 2em;
    margin: .2em;
}

/* User blocks */

.member,
.user-activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 .5em;
}

.member img,
.user-activity img {
    margin: .3em .3em;
}

/* message user block */

.message-inputs {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.message-inputs input,
.message-inputs button{
    height: 2em;
    width: 80%;
    margin: .8em auto;
}

textarea {
    height: 5em;
    width: 80%;
    margin: .8em auto;
}

/* settings area */

.settings {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
    
}

select {
    height: 2em;
    margin-top: .8em;
    margin-bottom: .8em
}

.settings div {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.settings button {
    height: 2em;
    width: 45%;
}

footer {
    margin: 2em auto;
    max-width: 80%;
}

@media (min-width: 768px) {

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header header"
            "navigation navigation"
            "main main";
    }
}

