* {
    font-family: 'Libre Franklin', sans-serif;
    box-sizing: border-box;
}

/* Whole page controls */
.grid-container {
    display: grid;
    grid-template-columns: auto 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "navigation"
        "main";
}

h3 {
    text-transform: uppercase;
    text-align: center;
}

hr {
    margin: 0;
}

.widget-container-full,
.widget-container-half {
    width: 95vw;
    margin: auto;
}

/* Header and navigation */
header {
    background: rgba(116, 119, 191, .3);
    color: white;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
} 

header h4 {
    display: none;
}

.small {
    border-radius: 50%;
    width: 3em;
    margin: 0 .5em;
}

.navigation {
    grid-area: navigation;
    background: #403f3e;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
    margin: 0 1em;
}

.icon {
    width: 2.5em;
    margin: .5em;
}

.notify:hover {
    animation: swing 1s ease-in-out backwards;
}

.notification-icon {
    height: 10px;
    width: 10px;
    background: green;
    border-radius: 50%;
    margin: 0 0 0 auto; 
}

.notifcation {
	position: relative;
}

.hidden {
    display: none;
}

.list {
    position: absolute;
    z-index: 10000;
    /* top: 40px;
    left: 30%; */
}

.list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
	background: #ccc;
	margin: 4px;
	padding: 4px;
    list-style-type: none;
    border: 1px solid #7477BF;
    border-radius: 10px;
}

.list p {
    margin: 1em;
}

/* main header area and search*/
main nav {
    grid-area: navigation;
}

main {
    grid-area: main;
}

.main-header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 1em;
}

.main-header-search {
    width: 75vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #7477BF;
    border-left: 1px solid #7477BF;
    background: #f2f2f2;
}

.search-bar {
    margin: 0 1em;
    height: 2em;
    width: 15em;
    border: none;
    border-radius: 10px;
    border: 1px solid #7477BF;
}

.headline {
    margin: 1em;
}

.alert-banner {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    background: #7477BF;
    border-radius: 10px;
    color: white;
}

.alert-banner p {
    margin: 1em;
}

/* Main area with graphs */

main {
    grid-area: main;
}

/* Traffic graph */ 
ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

li {
    display: inline-block;
    padding: 0 1em;
}

.active {
    background: #9de05a;
    border-radius: 10px;
}

/* Social stats section */

.social-container {
    border: 1px solid #7477BF;
    max-width: 60%;
    margin: 1em auto;
    display: flex;
    align-items: center;
    background: #f2f2f2 ;
    border-radius: 8px;
}

.social-container img {
    margin: 1em;
}

.social-name {
    color: purple;
    font-weight: 1000;
    margin: .2em;
}

.social-number {
    font-size: 2em;
    margin: .2em;
}

.social-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #7477BF;
  }

/* User blocks */

.members,
.recent-activity {
    width: 95%;
    margin: auto;
}

.members p,
.recent-activity p {
    font-size: 14px;
}

.member {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5em;
}

.user-activity {
    display: flex;
    align-items: center;
    height: 4.5em;
}

.member-info {
    display: flex;
    align-items: center;
}



/* message user block */

.message-inputs {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.message-inputs input,
.message-inputs button,
select{
    height: 2em;
    width: 100%;
    margin: auto;
    border: 1px solid #7477BF;
    border-radius: 10px;
}

#userlist {
    display: flex;
    flex-wrap: wrap;
    max-width: 25em;
}

.message-inputs button {
    background: #7477BF;
    border: none;
    border-radius: 10px;
}

textarea {
    height: 5em;
    width: 100%;
    margin: .8em 0;
    border: 1px solid #7477BF;
    border-radius: 10px;
}

/* settings area */

.settings,
.message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

.settings-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
}

.settings-buttons {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

select {
    margin: .8em 0;
}

.switch-light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5em;
}

.settings button {
    height: 2em;
    width: 45%;
    border: none;
    border-radius: 10px;
}

#save {
    background: #7477BF;
}

.switch-label {
    width: 80%;
}

/* Footer area */
footer {
    margin: 2em auto;
    width: 95%;
}

@media (min-width: 768px) {

    /* Whole page layout items */
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
            "header header"
            "navigation main";
    }
    
    .navigation {
        grid-area: navigation;
        justify-content: flex-start;
        flex-direction: column;
    }

    main {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .alert {
        grid-column: 1 / span 2;
    }

    .widget-container-full {
        width: 90vw;
        margin: auto;
    }

    .widget-container-half {
        width: 45vw;
        margin: auto;
    }

    .traffic,
    .social,
    .main-header,
    footer {
        grid-column: 1 / span 2;
    }

    .daily,
    .members,
    .message {
        grid-column: 1 / span 1;
    }

    .mobile,
    .activity,
    .settings {
        grid-column: 2 / span 1;
    }

    .bell-icon {
        display: flex;
        align-items: center;
    }

    header h4 {
        display: inherit;
    }

    .traffic-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: auto;
    }

    .traffic-nav-link:hover,
    .list p{
        cursor: pointer;
    }

    .social-layout {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    /* HEADER */

    /* .list {
        position: absolute;
        z-index: 10000;
        top: 40px;
        left: 70%;
    } */
   
}

@media (min-width: 1024px) {

    .grid-container {
        grid-template-columns: 80px 1fr;
    }

    .search-bar {
        width: 25em;
    }
}

@keyframes swing {
    25% {
        transform: rotate(25deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-25deg);
    }
    100% {
        transform: rotate(0deg);
    }
}